@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj się";
}
<div class="row justify-content-center">
    <div class="col-6 mt-5">
        <form id="account" method="post">
            <h2>Zaloguj się</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-4 form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj się</button>
                </div>
            </div>
        </form>
        <p>
            Nie masz konta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link-secondary">Zarejestruj się</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

